<label class="mt-3" for="searchFor"><strong>Filtra:</strong></label>
<select #searchFor name="searchFor" id="searchFor" class="mt-2 form-select">
  <option *ngFor="let option of tableConfig.search.columns">
    {{option}}
  </option>
</select>
<input #searchValue type="text" class="form-control" id="search" name="search" placeholder="Cerca..."
       (keyup)="applyFilter(searchFor.value, searchValue.value)"/>
<label class="mt-3" for="pagination"><strong>Elementi per pagina:</strong></label>
<select class="mb-3 form-select" name="pagination" id="pagination" [(ngModel)]="tableConfig.pagination.itemPerPage" (ngModelChange)="onItemPerPageChange()">
  <option *ngFor="let i of tableConfig.pagination.itemPerPageOptions">{{i}}</option>
</select>

<table class="mt-5 table table-striped table-bordered">
  <thead>
  <th *ngFor="let h of tableConfig.headers" class="text-center" (click)="sort(h.key)">{{h.label}}</th>
  <th *ngFor="let addHeaders of tableConfig.actions" class="text-center">{{addHeaders.actionEnum}}</th>
  </thead>
  <tbody>
  <tr *ngFor="let d of filtered | sort:order:column | pagination:tableConfig.pagination.itemPerPage:page">
    <td *ngFor="let n of tableConfig.headers">{{d[n.key]}}</td>
    <td *ngFor="let act of tableConfig.actions"><app-button [buttonConfig]="act.buttonStyle" (click)="getEvent(d, act.actionEnum)"></app-button></td>
  </tr>
  </tbody>
</table>
<div class="container">
  <div class="row">
    <div class="mx-auto justify-content-center mt-2 mb-3 btn-group col-md-10 col-sm-10">
      <app-button [buttonConfig]="prevButtonConfig" (click)="prev()"></app-button>
      <app-button *ngFor="let p of iterableMaxPages" [buttonConfig]="setPageButton(p)" (click)="setPage(p)"></app-button>
      <app-button [buttonConfig]="nextButtonConfig" (click)="next()"></app-button>
    </div>
  </div>
</div>

