
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Rental Car</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="toggle()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div [class.collapse]="navbarCollapsed" class="navbar-collapse collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" routerLink="{{url1}}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/cars">Parco Auto</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/userProfile/{{userId}}/{{actionEdit}}">Profilo utente</a>
      </li>
    </ul>
  </div>
  <div class="nav navbar-nav navbar-right">
    <a href="" class="navbar-brand" routerLink="/login"><button type="button" class="btn btn-danger"><i class="bi bi-box-arrow-right"></i> Esci</button></a>
  </div>
</nav>
