<div class="container">
  <div class="row">
    <div class="mx-auto mt-3 col-sm-3 col-md-3">
      <label for="username">Username</label><input #username id="username" name="username" type="text" class="form-control"
                                                   required/>
      <label for="password">Password</label><input #password id="password" name="password" type="password" class="form-control"
                                                   required/>
      <button type="button" class="mt-3 btn btn-success" (click)="login(username.value, password.value)">LOGIN</button>
    </div>
  </div>
</div>
