<app-navbar></app-navbar>
<div *ngIf="editable" class="container">
  <div class="row">
    <div class="mx-auto mt-3 col-sm-6 col-md-6">
      <label for="startDate">Data inizio:</label><input #startDate=ngModel name="startDate" id="startDate" type="date"
                                                        class="form-control" required
                                                        [(ngModel)]="reservation.startDate"/>
      <div *ngIf="startDate.invalid && (startDate.dirty || startDate.touched)"
           class="alert">
        <div *ngIf="startDate.errors?.['required']" style="color:red">
          Data di inizio obbligatoria
        </div>
      </div>
      <label for="endDate">Data fine:</label><input #endDate=ngModel name="endDate" id="endDate" type="date"
                                                    class="form-control" required
                                                    [(ngModel)]="reservation.endDate"/>
      <div *ngIf="endDate.invalid && (endDate.dirty || endDate.touched)"
           class="alert">
        <div *ngIf="endDate.errors?.['required']" style="color:red">
          Data di fine obbligatoria
        </div>
      </div>
      <button type="button" class="mt-3 btn btn-success" (click)="post(startDate.value, endDate.value)">Conferma
      </button>
    </div>
  </div>
</div>

<div *ngIf="!editable" class="container">
  <div class="row">
    <div class="mx-auto mt-3 col-sm-6 col-md-6">
      <p>Impossibile modificare la prenotazione! Mancano meno di due giorni alla data di inizio.</p>
      <button class="btn btn-danger" (click)="back()">Torna indietro</button>
    </div>
  </div>
</div>


